In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Data preprocessing

In [2]:
# loading data from csv file
data_org = pd.read_csv('new_Base_CDM_balanced_V2.csv', sep=';')

In [3]:

data_org

              Y    X1     X2      X3  X4                X5     X6       X7
0      No_Displ   2.0  20.20   47400  36              CORA   72.0  No_Feat
1      No_Displ   2.0  11.90   62000  24           LECLERC   48.0  No_Feat
2      No_Displ   8.0  29.52   60661  60            AUCHAN  480.0  No_Feat
3      No_Displ   2.0  16.20   59677  19         CARREFOUR   38.0  No_Feat
4      No_Displ   5.0  62.10  142602  50              CORA  250.0  No_Feat
...         ...   ...    ...     ...  ..               ...    ...      ...
25777     Displ   1.0  10.70    4033  40  CARREFOUR MARKET   40.0  No_Feat
25778     Displ   5.0  34.45    4033  35  CARREFOUR MARKET  175.0  No_Feat
25779     Displ  12.0  81.72    4033  35  CARREFOUR MARKET  420.0  No_Feat
25780     Displ   5.0  29.75    4033  24  CARREFOUR MARKET  120.0  No_Feat
25781     Displ   5.0  52.24    4033  40  CARREFOUR MARKET  200.0  No_Feat

[25782 rows x 8 columns]

In [4]:
# type of columns
data_org.dtypes

Y      object
X1    float64
X2    float64
X3      int64
X4      int64
X5     object
X6    float64
X7     object
dtype: object

In [5]:
# looking for missing data
# aswe can see there is no missing data
data_org.isnull().sum()

Y     0
X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X7    0
dtype: int64

In [6]:
data_org.Y.value_counts()

No_Displ    13000
Displ       12782
Name: Y, dtype: int64

In [7]:
data_org.describe()

                 X1            X2             X3            X4            X6
count  25782.000000  25782.000000   25782.000000  25782.000000  25782.000000
mean      13.767151    130.888312   64641.184431     37.646614    587.855260
std       38.203406    372.649805   54924.645702     23.498949   1821.338396
min        1.000000      1.110000    1693.000000      1.000000      1.000000
25%        2.000000     13.360000   21394.000000     25.000000     50.000000
50%        4.000000     31.050000   51522.000000     32.000000    120.000000
75%       11.000000     87.450000   91000.000000     40.000000    380.000000
max     1475.000000  13589.220000  284844.000000    198.000000  48816.000000

In [8]:
# Label encoding for Y , X5 and X7
from sklearn.preprocessing import LabelEncoder
leY = LabelEncoder()
data_org['Y'] = leY.fit_transform(data_org['Y'])
leX5 = LabelEncoder()
data_org['X5'] = leX5.fit_transform(data_org['X5'])
leX7 = LabelEncoder()
data_org['X7'] = leX7.fit_transform(data_org['X7'])

In [9]:
data_org.head()

   Y   X1     X2      X3  X4  X5     X6  X7
0  1  2.0  20.20   47400  36   4   72.0   1
1  1  2.0  11.90   62000  24  10   48.0   1
2  1  8.0  29.52   60661  60   0  480.0   1
3  1  2.0  16.20   59677  19   1   38.0   1
4  1  5.0  62.10  142602  50   4  250.0   1

In [10]:
# getting the Y column
Y = data_org['Y']
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Y, dtype: int32

In [11]:
Y.isnull().sum()

0

In [12]:
data_org['Y'].value_counts()

1    13000
0    12782
Name: Y, dtype: int64

In [13]:
X_data_org = data_org.drop(['Y'], axis=1)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data_org, Y, test_size=0.2,random_state=109) # 80% training and 20% test

# perform MLDP descretization on data

In [15]:
X_Disc,Y_D = data_org[['X1','X2','X3','X4','X6']].to_numpy(),Y.to_numpy()
# X_Disc

In [16]:
# import MDLP_Discretizer
from MDLP import  MDLP_Discretizer

numeric_features = np.arange(X_Disc.shape[1])
discretizer = MDLP_Discretizer(features=numeric_features)
discretizer.fit(X_Disc, Y_D)

c:\Users\makch\STUDIES\s3\ADD\Code\MDLP.py:168: RuntimeWarning: invalid value encountered in greater
  mask = np.logical_and((self._boundaries[:, feature_idx] > range_min), (self._boundaries[:, feature_idx] < range_max))
c:\Users\makch\STUDIES\s3\ADD\Code\MDLP.py:168: RuntimeWarning: invalid value encountered in less
  mask = np.logical_and((self._boundaries[:, feature_idx] > range_min), (self._boundaries[:, feature_idx] < range_max))

In [17]:
X_discretized = discretizer.transform(X_Disc)
X_discretized = pd.DataFrame(X_discretized, columns = ['X1','X2','X3','X4','X6'])
print(X_discretized.shape)

(25782, 5)

In [18]:
X_discretized.head()

    X1   X2    X3    X4   X6
0  0.0  1.0   9.0   9.0  4.0
1  0.0  1.0  13.0   1.0  1.0
2  2.0  1.0  13.0  15.0  9.0
3  0.0  1.0  13.0   1.0  1.0
4  1.0  2.0  18.0  14.0  6.0

In [19]:
X_discretized = pd.concat([X_discretized[['X1','X2','X3','X4']],data_org['X5'], X_discretized[['X6']], data_org['X7']], axis=1, join='inner')

In [20]:
X_discretized.shape

(25782, 7)

In [21]:
X_train_d, X_test_d, y_train_d, y_test_d = train_test_split(X_discretized, Y, test_size=0.2,random_state=109) # 80% training and 20% test

In [22]:
# import ExtraTreeClassifier
from sklearn.tree import ExtraTreeClassifier
#import svm classifier
from sklearn.svm import SVC
# import RidgeClassifier
from sklearn.linear_model import RidgeClassifier
# import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# import LogisticRegression classifier
from sklearn.linear_model import LogisticRegression

In [23]:
# instantiate the model

etc = ExtraTreeClassifier()
svc = SVC()
rc = RidgeClassifier()
lda = LinearDiscriminantAnalysis()
lr = LogisticRegression()

# fit the model
etc.fit(X_train, y_train)
svc.fit(X_train, y_train)
rc.fit(X_train, y_train)
lda.fit(X_train, y_train)
lr.fit(X_train, y_train)

# predict the test set
y_pred_etc = etc.predict(X_test)
y_pred_svc = svc.predict(X_test)
y_pred_rc = rc.predict(X_test)
y_pred_lda = lda.predict(X_test)
y_pred_lr = lr.predict(X_test)

# models metrics on a dataframe
models = pd.DataFrame({
    'Model': ['ExtraTreeClassifier', 'SVC', 'RidgeClassifier', 'LinearDiscriminantAnalysis', 'LogisticRegression'],
    'Score': [metrics.accuracy_score(y_test, y_pred_etc), metrics.accuracy_score(y_test, y_pred_svc), metrics.accuracy_score(y_test, y_pred_rc), metrics.accuracy_score(y_test, y_pred_lda), metrics.accuracy_score(y_test, y_pred_lr)]})
models.sort_values(by='Score', ascending=False)

models

                        Model     Score
0         ExtraTreeClassifier  0.779911
1                         SVC  0.609463
2             RidgeClassifier  0.751212
3  LinearDiscriminantAnalysis  0.751212
4          LogisticRegression  0.696529

In [24]:
# instantiate the model

etc = ExtraTreeClassifier()
svc = SVC()
rc = RidgeClassifier()
lda = LinearDiscriminantAnalysis()
lr = LogisticRegression()

# fit the models on the discretized data
etc.fit(X_train_d, y_train_d)
svc.fit(X_train_d, y_train_d)
rc.fit(X_train_d, y_train_d)
lda.fit(X_train_d, y_train_d)
lr.fit(X_train_d, y_train_d)

# predict the test set
y_pred_etc = etc.predict(X_test_d)
y_pred_svc = svc.predict(X_test_d)
y_pred_rc = rc.predict(X_test_d)
y_pred_lda = lda.predict(X_test_d)
y_pred_lr = lr.predict(X_test_d)

# models metrics on a dataframe
models2 = pd.DataFrame({
    'Model': ['ExtraTreeClassifier', 'SVC', 'RidgeClassifier', 'LinearDiscriminantAnalysis', 'LogisticRegression'],
    'Score_Discretized': [metrics.accuracy_score(y_test_d, y_pred_etc), metrics.accuracy_score(y_test_d, y_pred_svc), metrics.accuracy_score(y_test_d, y_pred_rc), metrics.accuracy_score(y_test_d, y_pred_lda), metrics.accuracy_score(y_test_d, y_pred_lr)]})
models2.sort_values(by='Score_Discretized', ascending=False)

models2

                        Model  Score_Discretized
0         ExtraTreeClassifier           0.780880
1                         SVC           0.774481
2             RidgeClassifier           0.756641
3  LinearDiscriminantAnalysis           0.756641
4          LogisticRegression           0.751406

In [26]:
# merge the two dataframes
models = pd.merge(models, models2, on='Model')
models

                        Model     Score  Score_Discretized
0         ExtraTreeClassifier  0.779911           0.780880
1                         SVC  0.609463           0.774481
2             RidgeClassifier  0.751212           0.756641
3  LinearDiscriminantAnalysis  0.751212           0.756641
4          LogisticRegression  0.696529           0.751406

In [27]:
# # Grid search for ExtraTreeClassifier
# from sklearn.model_selection import GridSearchCV

# etc_params = { 'max_depth': [None,7, 8, 9, 10],
#                 'critierion': ['gini', 'entropy'],
#                 'min_samples_split': [2, 3, 4],
#                 'max_leaf_nodes': [None,2, 3, 4],}

# # Grid using accuracy as scoring
# etc_grid = GridSearchCV(ExtraTreeClassifier(), etc_params, cv=5, scoring='accuracy',verbose=3 , n_jobs=-1)

# # fit the grid
# etc_grid.fit(X_train, y_train)


# # best parameters
# print(etc_grid.best_params_)

# # best score
# print(etc_grid.best_score_)

In [28]:
# # Grid search for Logistic regression

# logistic_params = {
#     'C': [0.01, 0.1, 1, 10],
#     'penalty': ['l1', 'l2'],
#     'solver': ['liblinear', 'saga'],
#     'max_iter': [100, 500, 2500],
# }

# # Grid using accuracy as scoring
# logistic_grid = GridSearchCV(LogisticRegression(), logistic_params, cv=5, scoring='accuracy',verbose=3 , n_jobs=-1)

# # fit the grid
# logistic_grid.fit(X_train_d, y_train_d)

# # best parameters
# print(logistic_grid.best_params_)
# # best score
# print(logistic_grid.best_score_)

In [30]:
# Grid search for RidgeClassifier
from sklearn.model_selection import GridSearchCV
ridge_params = {
    'alpha': [0.1, 1, 10],
    'solver': ['auto', 'svd', 'cholesky'],
    'max_iter': [None,100, 200],
}

# Grid using accuracy as scoring
ridge_grid = GridSearchCV(RidgeClassifier(), ridge_params, cv=5, scoring='accuracy',verbose=3 , n_jobs=-1)

# fit the grid
ridge_grid.fit(X_train_d, y_train_d)

# best parameters
print(ridge_grid.best_params_)
# best score
print(ridge_grid.best_score_)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
{'alpha': 10, 'max_iter': None, 'solver': 'auto'}
0.7431757575757576